.contacto {
	.info {
		width: 100%;
		background: #fff;
		i {
			font-size: 20px;
			color: #1977cc;
			float: left;
			width: 44px;
			height: 44px;
			background: #d6e9fa;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 50px;
			transition: all 0.3s ease-in-out;
		}
		h4 {
			padding: 0 0 0 60px;
			font-size: 22px;
			font-weight: 600;
			margin-bottom: 5px;
			color: #2c4964;
		}
		p {
			padding: 0 0 0 60px;
			margin-bottom: 0;
			font-size: 14px;
			color: #4b7dab;
		}
		.email {
			margin-top: 40px;
			&:hover {
				i {
					@include iconosUbicacion;
				}
			}
		}
		.telefono {
			margin-top: 40px;
			&:hover {
				i {
					@include iconosUbicacion;
				}
			}
		}
		.direccion {
			&:hover {
				i {
					@include iconosUbicacion;
				}
			}
		}
	}
	.text-center {
		button[type="submit"] {
			@include botonContacto;
		}
		button[type="reset"] {
			@include botonContacto;
		}
	}
}
.text-center {
	display: inline-block;
	margin-top: 15px;
}
