#intro {
    width: 100%;
    height: 90vh;
    background: url("../img/intro.jpg") top center;
    background-size: cover;
    margin-bottom: -200px;
    .container {
        position: relative;
    }
    h2 {
        margin: 0;
        font-family: "Roboto Condensed", sans-serif;
        font-size: 40px;
        font-weight: 700;
        line-height: 56px;
        text-transform: uppercase;
        letter-spacing: 5px;
        color: whitesmoke;
        text-shadow: 3px 3px #2c4964;
        text-align: right;
    }
    .btn-get-started {
        font-family: "Raleway", sans-serif;
        text-transform: uppercase;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 1px;
        display: inline-block;
        padding: 12px 35px;
        margin-top: 30px;
        border-radius: 50px;
        transition: 0.5s;
        color: #fff;
        background: #1977cc;
        &:hover {
            background: #3291e6;
        }
    }
}

@media (min-width: 1024px) {
    #intro {
        background-attachment: fixed;
    }
}

@media (max-width: 992px) {
    #intro {
        margin-bottom: 0;
        height: 100vh;
        .container {
            padding-bottom: 63px;
        }
        h1 {
            font-size: 28px;
            line-height: 36px;
        }
        h2 {
            font-size: 18px;
            line-height: 24px;
            margin-bottom: 30px;
            text-shadow: 2px 1px #2c4964;
        }
    }
}

@media (max-height: 600px) {
    #intro {
        height: 110vh;
    }
    h2 {
        line-height: 24px;
        margin-bottom: 30px;
        text-shadow: 1px 1px #2c4964;
    }
}
