.nosotros {
    background: #fff;
    .icon-boxes {
        .icon-box {
            text-align: center;
            border-radius: 10px;
            background: white;
            box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
            padding: 40px 30px;
            width: 100%;

            h4 {
                font-size: 20px;
                font-weight: 700;
                margin: 0 0 30px 0;
                color: #566a8f;
            }
            p {
                font-size: 15px;
                color: #566a8f;
            }
            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                background: #1977cc;
                color: whitesmoke;
                h4 {
                    font-size: 20px;
                    font-weight: 700;
                    margin: 0 0 30px 0;
                    color: whitesmoke;
                }
                p {
                    font-size: 15px;
                    color: whitesmoke;
                }
            }
        }
    }

    .member {
        position: relative;
        box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
        padding: 30px;
        border-radius: 10px;
        .pic {
            overflow: hidden;
            width: 180px;
            border-radius: 50%;
            img {
                transition: ease-in-out 0.3s;
            }
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        .member-info {
            padding-left: 30px;
        }
        h4 {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 20px;
            color: #2c4964;
        }
        span {
            display: block;
            font-size: 15px;
            padding-bottom: 10px;
            position: relative;
            font-weight: 500;
            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 50px;
                height: 1px;
                background: #b2c8dd;
                bottom: 0;
                left: 0;
            }
        }
        p {
            margin: 10px 0 0 0;
            font-size: 14px;
        }
    }
}
