.nosotros {
    background: #fff;
    .member {
        position: relative;
        box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
        padding: 30px;
        border-radius: 10px;
        .pic {
            overflow: hidden;
            width: 180px;
            border-radius: 50%;
            img {
                transition: ease-in-out 0.3s;
            }
        }
        &:hover {
            img {
                transform: scale(1.1);
            }
        }
        .member-info {
            padding-left: 30px;
        }
        h4 {
            font-weight: 700;
            margin-bottom: 5px;
            font-size: 20px;
            color: #2c4964;
        }
        span {
            display: block;
            font-size: 15px;
            padding-bottom: 10px;
            position: relative;
            font-weight: 500;
            &::after {
                content: "";
                position: absolute;
                display: block;
                width: 50px;
                height: 1px;
                background: #b2c8dd;
                bottom: 0;
                left: 0;
            }
        }
        p {
            margin: 10px 0 0 0;
            font-size: 14px;
        }
        .social {
            margin-top: 12px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            a {
                transition: ease-in-out 0.3s;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50px;
                width: 32px;
                height: 32px;
                background: #a0bcd5;
                i {
                    color: #fff;
                    font-size: 16px;
                    margin: 0 2px;
                }
                &:hover {
                    background: #1977cc;
                }
            }
            a + a {
                margin-left: 8px;
            }
        }
    }
}
