.productos {
    overflow: hidden;
    .nav-tabs {
        border: 0;
    }
    .nav-link {
        border: 0;
        padding: 12px 15px 12px 0;
        transition: 0.3s;
        color: #2c4964;
        border-radius: 0;
        border-right: 2px solid #ebf1f6;
        font-weight: 600;
        font-size: 15px;
        &:hover {
            color: #1977cc;
        }
    }
    .nav-link.active {
        color: #1977cc;
        border-color: #1977cc;
    }
    .tab-pane.active {
        -webkit-animation: fadeIn 0.5s ease-out;
        animation: fadeIn 0.5s ease-out;
    }
    .details {
        h3 {
            font-size: 26px;
            font-weight: 600;
            margin-bottom: 20px;
            color: #2c4964;
        }
        p {
            color: #777777;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.sectionCarousel {
    /* background-color: #f1f7fd; */
    .carousel-inner {
        .carousel-item {
            box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
            .carouselFranco {
                border: 3px solid black;
                border-radius: 5px;
                background: #566a8f;
                border-radius: 5px;

                h5 {
                    margin-top: 10px;
                    color: white;
                    text-transform: uppercase;
                    text-shadow: 1px 2px gray;
                    opacity: 0.9;
                    letter-spacing: 1px;
                    text-align: center;
                    padding-top: 5px;
                }
                p {
                    color: white;
                    text-shadow: 1px 1px grey;
                    opacity: 0.9;
                    text-align: center;
                }
                .carousel-caption {
                    background: #566a8f;
                    border-radius: 5px;
                    padding: 5px;
                }
            }
        }

        @media (max-width: 992px) {
            .productos {
                .nav-link {
                    border: 0;
                    padding: 15px;
                }
                .nav-link.active {
                    color: #fff;
                    background: #1977cc;
                }
            }
        }
    }
}
