section {
    padding: 0 0 60px 0;
    overflow: hidden;
}
.section-title {
    text-align: center;
    padding-bottom: 30px;
    h2 {
        font-size: 32px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #566a8f;
        margin-top: 100px;
    }
    h3 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 20px;
        padding-bottom: 20px;
        position: relative;
        color: #566a8f;
        margin-top: 100px;
    }
    h4 {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 5px;
        padding-bottom: 5px;
        position: relative;
        color: #566a8f;
    }
    p {
        margin-bottom: 0;
    }
}
