/* General */
body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #1977cc;
  text-decoration: none;
}

a:hover {
  color: #3291e6;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Raleway", sans-serif;
}

/* Contenedores comunes */
/* Header */
#header {
  background: #fff;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  -webkit-box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
          box-shadow: 0px 2px 15px rgba(25, 119, 204, 0.1);
}

#header .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-family: 'Orbitron', sans-serif;
  font-size: xxx-large;
}

#header .logo a {
  color: #2c4964;
}

#header .logo img {
  max-height: 40px;
}

#header.header-scrolled {
  top: 0;
}

/* Menu */
/* @import "_menu"; */
/* Footer */
.footer {
  color: #444444;
  font-size: 14px;
  background: white;
}

.footer .creditos {
  padding-top: 5px;
  font-size: 13px;
  color: #444444;
}

.footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #1977cc;
  color: #fff;
  line-height: 1;
  padding: 8px 5px;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.footer .social-links a:hover {
  background: #1c84e3;
  color: #fff;
  text-decoration: none;
}

/* Titulos secciones (pages) */
section {
  padding: 0 0 60px 0;
  overflow: hidden;
}

.section-bg {
  background-color: #f1f7fd;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #2c4964;
  margin-top: 100px;
}

.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #1977cc;
  bottom: 0;
  left: calc(50% - 20px);
}

.section-title p {
  margin-bottom: 0;
}

/* Home */
#intro {
  width: 100%;
  height: 90vh;
  background: url("../img/gallery/gallery-3.jpg") top center;
  background-size: cover;
  margin-bottom: -200px;
}

#intro .container {
  position: relative;
}

#intro h2 {
  margin: 0;
  font-size: 78px;
  font-weight: 700;
  line-height: 56px;
  color: whitesmoke;
  text-shadow: 3px 3px #2c4964;
  text-align: right;
  font-size: xx-large;
}

#intro .btn-get-started {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 12px 35px;
  margin-top: 30px;
  border-radius: 50px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #fff;
  background: #1977cc;
}

#intro .btn-get-started:hover {
  background: #3291e6;
}

@media (min-width: 1024px) {
  #intro {
    background-attachment: fixed;
  }
}

@media (max-width: 992px) {
  #intro {
    margin-bottom: 0;
    height: 100vh;
  }
  #intro .container {
    padding-bottom: 63px;
  }
  #intro h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #intro h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
}

@media (max-height: 600px) {
  #intro {
    height: 110vh;
  }
}

/* Que Hacemos */
.queHacemos .content {
  padding: 30px;
  background: #1977cc;
  border-radius: 10px;
  color: #fff;
}

.queHacemos .content h3 {
  font-weight: 700;
  font-size: 34px;
  margin-bottom: 30px;
}

.queHacemos .content p {
  margin-bottom: 30px;
}

.queHacemos .content .more-btn {
  display: inline-block;
  -webkit-transition: all ease-in-out 0.4s;
  transition: all ease-in-out 0.4s;
  background: rgba(255, 255, 255, 0.2);
  border: 0;
  padding: 10px 35px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

.queHacemos .content .more-btn i {
  font-size: 14px;
}

.queHacemos .content .more-btn:hover {
  color: #1977cc;
  background: #fff;
}

.queHacemos .icon-boxes .icon-box {
  text-align: center;
  border-radius: 10px;
  background: #fff;
  -webkit-box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 40px 30px;
  width: 100%;
}

.queHacemos .icon-boxes .icon-box i {
  font-size: 40px;
  color: #1977cc;
  margin-bottom: 30px;
}

.queHacemos .icon-boxes .icon-box h4 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 30px 0;
}

.queHacemos .icon-boxes .icon-box p {
  font-size: 15px;
  color: #848484;
}

.queHacemos .botonColapsado {
  margin-top: 30px;
}

.counts {
  background: #f1f7fd;
  padding: 70px 0 60px;
}

.counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

.counts .count-box i {
  position: absolute;
  top: -25px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-size: 20px;
  background: #1977cc;
  color: #fff;
  border-radius: 50px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 48px;
  height: 48px;
}

.counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 600;
  color: #082744;
}

.counts .count-box p {
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
}

/* Servicios */
.servicios .icon-box {
  text-align: center;
  border: 1px solid #d5e1ed;
  padding: 80px 20px;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
}

.servicios .icon-box .icon {
  margin: 0 auto;
  width: 64px;
  height: 64px;
  background: #1977cc;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.servicios .icon-box .icon i {
  color: #fff;
  font-size: 28px;
}

.servicios .icon-box .icon::before {
  position: absolute;
  content: "";
  left: -8px;
  top: -8px;
  height: 100%;
  width: 100%;
  background: #badaf7;
  border-radius: 5px;
  -webkit-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  -webkit-transform: translateZ(-1px);
          transform: translateZ(-1px);
}

.servicios .icon-box h4 {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 24px;
}

.servicios .icon-box h4 a {
  color: #2c4964;
}

.servicios .icon-box p {
  line-height: 24px;
  font-size: 14px;
  margin-bottom: 0;
}

.servicios .icon-box:hover {
  background: #1977cc;
  border-color: #1977cc;
}

.servicios .icon-box:hover .icon {
  background: #fff;
}

.servicios .icon-box:hover .icon i {
  color: #1977cc;
}

.servicios .icon-box:hover .icon::before {
  background: #3291e6;
}

.servicios .icon-box:hover h4 a {
  color: #fff;
}

.servicios .icon-box:hover p {
  color: #fff;
}

/* Productos */
.productos {
  overflow: hidden;
}

.productos .nav-tabs {
  border: 0;
}

.productos .nav-link {
  border: 0;
  padding: 12px 15px 12px 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #2c4964;
  border-radius: 0;
  border-right: 2px solid #ebf1f6;
  font-weight: 600;
  font-size: 15px;
}

.productos .nav-link:hover {
  color: #1977cc;
}

.productos .nav-link.active {
  color: #1977cc;
  border-color: #1977cc;
}

.productos .tab-pane.active {
  -webkit-animation: fadeIn 0.5s ease-out;
  animation: fadeIn 0.5s ease-out;
}

.productos .details h3 {
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #2c4964;
}

.productos .details p {
  color: #777777;
}

.productos .details p:last-child {
  margin-bottom: 0;
}

.sectionCarousel {
  background-color: #f1f7fd;
  padding: 5px 0;
}

@media (max-width: 992px) {
  .productos .nav-link {
    border: 0;
    padding: 15px;
  }
  .productos .nav-link.active {
    color: #fff;
    background: #1977cc;
  }
}

/* Nosotros */
.nosotros {
  background: #fff;
}

.nosotros .member {
  position: relative;
  -webkit-box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
          box-shadow: 0px 2px 15px rgba(44, 73, 100, 0.08);
  padding: 30px;
  border-radius: 10px;
}

.nosotros .member .pic {
  overflow: hidden;
  width: 180px;
  border-radius: 50%;
}

.nosotros .member .pic img {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.nosotros .member:hover img {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.nosotros .member .member-info {
  padding-left: 30px;
}

.nosotros .member h4 {
  font-weight: 700;
  margin-bottom: 5px;
  font-size: 20px;
  color: #2c4964;
}

.nosotros .member span {
  display: block;
  font-size: 15px;
  padding-bottom: 10px;
  position: relative;
  font-weight: 500;
}

.nosotros .member span::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 1px;
  background: #b2c8dd;
  bottom: 0;
  left: 0;
}

.nosotros .member p {
  margin: 10px 0 0 0;
  font-size: 14px;
}

.nosotros .member .social {
  margin-top: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.nosotros .member .social a {
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  width: 32px;
  height: 32px;
  background: #a0bcd5;
}

.nosotros .member .social a i {
  color: #fff;
  font-size: 16px;
  margin: 0 2px;
}

.nosotros .member .social a:hover {
  background: #1977cc;
}

.nosotros .member .social a + a {
  margin-left: 8px;
}

/* Contacto */
.contacto .info {
  width: 100%;
  background: #fff;
}

.contacto .info i {
  font-size: 20px;
  color: #1977cc;
  float: left;
  width: 44px;
  height: 44px;
  background: #d6e9fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.contacto .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #2c4964;
}

.contacto .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #4b7dab;
}

.contacto .info .email {
  margin-top: 40px;
}

.contacto .info .email:hover i {
  background: #1977cc;
  color: #fff;
}

.contacto .info .telefono {
  margin-top: 40px;
}

.contacto .info .telefono:hover i {
  background: #1977cc;
  color: #fff;
}

.contacto .info .direccion:hover i {
  background: #1977cc;
  color: #fff;
}

.contacto .text-center button[type="submit"] {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

.contacto .text-center button[type="submit"]:hover {
  background: #1c84e3;
}

.contacto .text-center button[type="reset"] {
  background: #1977cc;
  border: 0;
  padding: 10px 35px;
  color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50px;
}

.contacto .text-center button[type="reset"]:hover {
  background: #1c84e3;
}

.text-center {
  display: inline-block;
  margin-top: 15px;
}
/*# sourceMappingURL=styles.css.map */